* { box-sizing: border-box; }

html {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

body { background-color: #f2f2f2; }

.container { 
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  background-color: white;
  border-bottom: 2px solid rgb(218, 218, 218);
  margin-bottom: 20px;
}

.navbar h1{ 
  font-size: 2em;
  font-weight: 400;
}

.navbar nav {
  display: flex;
  justify-content: space-around;
}

.navbar nav a {
  color: rgb(163, 163, 163);
  text-decoration: none;
  margin-left: 10px;
  padding: 10px 15px;
}

.navbar nav a.active { color: black; }

.box-border{ 
  border: 2px solid rgb(218, 218, 218) ;
  border-radius: 4px;
}

.blog-info {
  background-color: white;
  padding: 20px 25px;
}

.blog-info .img-wrapper { text-align: center; }
.blog-info img { width: 150px; }

.blog-info #social {
  display: flex;
  justify-content: space-around;
  font-size: 2em;
  margin: 10px; 
  color: gray;
  text-decoration: none;
}

.blog-info #social a {
  font-size: 30px;
  text-align: center;
}

.blog-info .divider {
  width: 80px;
  border-top: 2px solid grey;
}

.posts .post {
  display: flex;
  width: auto;
  background-color: white;
  padding: 15px;
  margin-bottom: 20px;
}

.posts .post img {
  flex-basis: 250px;
  border-radius: 3px;
}
.post-text{
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  margin: 15px;
}

.posts .post h2 { margin-top: 0; }

@media (min-width: 768px) {
  html { font-size: 16px; }

  .container { width: 768px; }

  .content { position: relative; }

  .blog-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
  }

  .posts { padding-left: 300px; }

  .posts .post img {
    width: 250px;
  }
}


@media (min-width: 992px) {
  html { font-size: 18px; }
  .container { width: 992px; }
}

@media (min-width: 1200px) {
  html { font-size: 1.6rem}
  .container { width: 1200px; }
}

@media speech {
  .blog-info { display: none; }
}
